body {
  background: #22254b;
}
.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 95%;
  margin: auto;
}
.movie {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}
.movie img {
  width: 100%;
}
.title {
  font-size: 20px;
  font-weight: 700;
}
p {
  color: white;
}
h1 {
  color: white;
}


@media (max-width: 768px){
  .movies {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 95%;
    margin: auto;
  }
}